.button {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.button-disabled {
    width: 200px;
    padding: 10px;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    user-select: none;
}

